

.historyListContainer {
  h2{
    padding-top: 5vh;
  }
  .imgContainer{
    padding: 5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    button{
      height: 45px;
      background: #5e5df0;
      border-radius: 999px;
      box-shadow: #5e5df0 0 10px 20px -10px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
      NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
      EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 18px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: fit-content;
      word-break: break-word;
      border: 0;
      width: auto;
    }
    img{
      width: 50vw;

    }
  }

  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .buttonContainer {
    border: 1px solid #1e1c1c;
    padding: 4vh 20vw ;
    .historyButtons{
      padding: 4px;

    }
  }

}
